//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
// Ширина ПОЛОТНА
$maxWidth: 1920;
// ВЫСОТА ПОЛОТНА
$maxHeight: 1080;
// РАЗМЕР КОНТЕЙНЕРА
$maxWidthContainer: 1440;

$containerPadding: 10;

// ЦВЕТА
$colorWhite: #fff;
$colorDark: #000;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #111;
$fontUbuntu: Ubuntu;
