.search {
  @apply relative flex items-center w-full py-2 px-4 gap-x-4 rounded-full;
  background: #2d2c35;

  &__icon {
    @apply text-3xl font-bold;
  }

  &__input {
    @apply w-full bg-transparent text-white text-lg;
  }

  &__result-list {
    @apply absolute left-0 w-full rounded-lg overflow-hidden;
    top: calc(100% + 5px);
  }
  &__result-list-body {
    @apply flex flex-col p-1 gap-y-2 h-full overflow-auto;
    max-height: 400px;
    @include scrollbars(5px, #ccc, #34333d, 5px);
    background: rgba(52, 51, 61, 0.95);
    overscroll-behavior: contain;
    // scroll-padding-top: var(--header-height);
    scroll-padding-top: 20px;

    &::-webkit-scrollbar-thumb {
      // display: none;
      border-radius: 100px;
    }
  }

  &__result-item {
    @apply flex justify-between items-center text-lg py-2 px-4 rounded-lg;

    &.select {
      @apply bg-zinc-600;
    }

    @media (any-hover: hover) {
      @apply cursor-pointer transition-all duration-300;
      &:hover {
        @apply bg-zinc-800;
      }
    }
  }
}
